.button {
    border-radius: 50%;
    border: 1px solid #9a1e15;;
    padding: 6px;
    margin: 4px 2px;
}

.primary-focus {
    background-color: #c52525;
}

.primary {
    background-color: #d4a2a2;
}

.secondary {
    background-color : #ffff00;
}

.muscle-image {
    max-height: 200px;
}

/* Bootstrap Override */
th {
    text-align: inherit;
}