.button {
    /* background-color: #4CAF50; */
    border-radius: 50%;
    border: 1px solid #9a1e15;;
    /* color: white; */
    padding: 6px;
    /* text-align: center; */
    /* text-decoration: none;
    display: inline-block; */
    /* font-size: 16px; */
    margin: 4px 2px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {border-radius: 50%;}

.primary {
    background-color: #c52525;
}

.secondary {
    background-color :#ffc8c8;
}

/* Bootstrap Override */
th {
    text-align: inherit;
}