<!DOCTYPE html>
<html ng-app="jankyFitness">

    <head>
        <title>Janky Fitness App</title>

        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

        <!-- Angular Scripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-route.min.js"></script>
 
        <!-- Bootstrap -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="css/style.css">

        <!-- Custom AngularJS Scripts -->
        <script src="js/exerciseFactory.js"></script>
        <script src="js/muscleFactory.js"></script>
        <script src="js/controller.js"></script>
        <script src="js/core.js"></script>
    </head>

    <body ng-controller="mycontroller">

        <div style="float:left; width : 100%">
            <div style="float:left; width : 33%">
                <h1>Exercises</h1>

                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Filter By Muscle Group<span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a ng-click="filterExercises('all')"> &nbsp;</a></li>
                        <li><a ng-click="filterExercises('chest')">Chest</a></li>
                        <li><a ng-click="filterExercises('back')">Back</a></li>
                        <li><a ng-click="filterExercises('shoulder')">Shoulders</a></li>
                        <li><a ng-click="filterExercises('bicep')">Biceps</a></li>
                        <li><a ng-click="filterExercises('tricep')">Triceps</a></li>
                        <li><a ng-click="filterExercises('forearm')">Forearms</a></li>
                        <li><a ng-click="filterExercises('quad')">Quads</a></li>
                        <li><a ng-click="filterExercises('hamstring')">Hamstrings</a></li>
                        <li><a ng-click="filterExercises('calf')">Calves</a></li>
                    </ul>
                </div>

                <div><input class="form-control" type="text" ng-model="dah"></div>
                <ul>
                    <li ng-repeat="exercise in viewExercises | filter : dah"><span ng-click="addExercise(exercise)"> {{ exercise.name }} </span></li>
                </ul>
            </div>
            
            <div class="text-center" style="float:left; width : 33%">
                <h1>Your Workout</h1>
                <ol>
                    <li ng-repeat="exercise in newWorkout" class="{'fadeOut' : exercise.done}">
                        <span ng-click="deleteExercise($index)">{{ exercise.name }}</span>
                    </li>
                </ol>
                <div class="">
                    <button class="btn btn-primary" type="button" ng-click="addToSavedWorkouts()">Add Workout</button>
                </div>
                
            </div>

            <div style="float:left; width : 33%; height : 100%">
                <h1>Your Routine</h1>
                <div class="list-group" ng-repeat="workout in savedWorkouts">

                    <button type="button" ng-click="setWorkoutDetails($index)" class="list-group-item list-group-item-action">{{ workout.name }} </button>
                  </div>
                <!-- <ol>
                    <li ng-repeat="exercise in viewWorkouts" class="{'fadeOut' : exercise.done}">
                        <span ng-click="deleteExercise($index)">{{ exercise.name }}</span>
                    </li>
                </ol> -->
            </div>
        </div>

        <div class="container">
            <div style="text-align: center">
                <h1>Workout Details</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Exercises</th>
                            <th scope="col">Chest&nbsp; <i class="fa fa-info-circle" aria-hidden="true" data-toggle="modal" data-target="#chest"></i></th>
                            <th scope="col">Back&nbsp; <i class="fa fa-info-circle" aria-hidden="true" data-toggle="modal" data-target="#back"></i></th>
                            <th scope="col">Shoulders&nbsp; <i class="fa fa-info-circle" aria-hidden="true" data-toggle="modal" data-target="#shoulder"></i></th>
                            <th scope="col">Biceps&nbsp; <i class="fa fa-info-circle" aria-hidden="true" data-toggle="modal" data-target="#bicep"></i></th>
                            <th scope="col">Triceps&nbsp; <i class="fa fa-info-circle" aria-hidden="true" data-toggle="modal" data-target="#tricep"></i></th>
                            <th scope="col">Quads&nbsp; <i class="fa fa-info-circle" aria-hidden="true" data-toggle="modal" data-target="#quad"></i></th>
                            <th scope="col">Hamstrings&nbsp; <i class="fa fa-info-circle" aria-hidden="true" data-toggle="modal" data-target="#hamstring"></i></th>
                            <!--<th scope="col">Glutes&nbsp; <i class="fa fa-info-circle" aria-hidden="true" data-toggle="modal" data-target="#glutes"></i></th>-->
                            <th scope="col">Calves&nbsp; <i class="fa fa-info-circle" aria-hidden="true" data-toggle="modal" data-target="#calf"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="exercise in workoutDetails">
                            <th >
                                {{ exercise.name }} 
                            </th>
                            <!-- Chest -->
                            <td>
                                <div style="float: left; text-align: center" ng-repeat="muscle in musclesGroups.chest.muscles" id={{muscle.path}} bs-popover>
                                    <button class="button" rel="popover" data-img="{{muscle.path}}" data-original-title="{{muscle.name}}" ng-class="getClass(exercise, 'chest', muscle.name)"></button>
                                </div>
                            </td>
                            <!-- Back -->
                            <td>
                                <div style="float: left; text-align: center" ng-repeat="muscle in musclesGroups.back.muscles" id={{muscle.path}} bs-popover>
                                    <button class="button" rel="popover" data-img="{{muscle.path}}" data-original-title="{{muscle.name}}" ng-class="getClass(exercise, 'back', muscle.name)"></button>
                                </div>
                            </td>

                            <!-- Shoulders -->
                            <td>
                                <div style="float: left; text-align: center" ng-repeat="muscle in musclesGroups.shoulder.muscles" id={{muscle.path}} bs-popover>
                                    <button class="button" rel="popover" data-img="{{muscle.path}}" data-original-title="{{muscle.name}}" ng-class= "getClass(exercise, 'shoulder', muscle.name)" data-toggle="tooltip" title="{{ muscle }}"></button>
                                </div>
                            </td>

                            <!-- Biceps -->
                            <td>                            
                                <div style="float: left; text-align: center" ng-repeat="muscle in musclesGroups.bicep.muscles" id={{muscle.path}} bs-popover>
                                    <button class="button" rel="popover" data-img="{{muscle.path}}" data-original-title="{{muscle.name}}" ng-class= "getClass(exercise, 'bicep', muscle.name)" data-toggle="tooltip" title="{{ muscle }}"></button>
                                </div>
                            </td>

                            <!-- Triceps -->
                            <td>
                                <div style="float: left; text-align: center" ng-repeat="muscle in musclesGroups.tricep.muscles" id={{muscle.path}} bs-popover>
                                    <button class="button" rel="popover" data-img="{{muscle.path}}" data-original-title="{{muscle.name}}" ng-class= "getClass(exercise, 'tricep', muscle.name)" data-toggle="tooltip" title="{{ muscle }}"></button>
                                </div>
                            </td>

                            <!-- Quads -->
                            <td>                            
                                <div style="float: left; text-align: center" ng-repeat="muscle in musclesGroups.quad.muscles" id={{muscle.path}} bs-popover>
                                    <button class="button" rel="popover" data-img="{{muscle.path}}" data-original-title="{{muscle.name}}" ng-class= "getClass(exercise, 'quad', muscle.name)" data-toggle="tooltip" title="{{ muscle }}"></button>
                                </div>
                            </td>

                            <!-- Hamstrings -->
                            <td>                             
                                <div style="float: left; text-align: center" ng-repeat="muscle in musclesGroups.hamstring.muscles" id={{muscle.path}} bs-popover>
                                    <button class="button"rel="popover" data-img="{{muscle.path}}" data-original-title="{{muscle.name}}" ng-class="getClass(exercise, 'hamstring', muscle.name)" data-toggle="tooltip" title="{{ muscle }}"></button>
                                </div>
                            </td>

                            <!-- Calves -->
                            <td >                            
                                <div style="float: left; text-align: center" ng-repeat="muscle in musclesGroups.calf.muscles" id={{muscle.path}} bs-popover>
                                    <button class="button" rel="popover" data-img="{{muscle.path}}" data-original-title="{{muscle.name}}" ng-class="getClass(exercise, 'calf', muscle.name)" data-toggle="tooltip" title="{{ muscle }}"></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div ng-repeat="(key, value) in musclesGroups" class="modal fade" id="{{key}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">{{value.details.title}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ value.details.body }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>